h1,div {
    font-family: 'Roboto Slab', serif;
}

h1 {
    outline: 1px solid red;
    display: inline;
}


div {
    outline: 1px solid green;
    width: 550px;
    height: 470;
    overflow: auto;
}

ul {
    outline: 1px solid blue;
    position: relative; 
}

li {
    outline: 1px solid orange;
    list-style: none;
    display: inline-block;

}

.rectangulo {
    width: 3px; 
    height: 1px; 
    background: #000;
}

.img {
    outline: 1px solid blueviolet;
    width: 150px;
    height: 150px;
    float: left;
    margin: 15px;
}

img {
    outline: 1px solid palevioletred;
    display: block; 
    width: 150px;
    height: 150px;
}

#melisa {
    position: absolute;
    top: 170px;
    left: 57px; 
}

#lorena {
    position: relative;
    top: 170px;
    left: 245px;
}

#eva {
    position: absolute;
    top: 170px;
    left: 440px;
}

#jenny {
    position: absolute;
    top: 350px;
    left: 73px;
}

#cyntia {
    position: absolute;
    top: 350px;
    right: 215px;
    
}

#claudia {
    position: relative;
    top: 350px;
    left: 270px;
}


