h1,div {
    font-family: 'Roboto Slab', serif;
}

h1 {
    /*outline: 1px solid red;*/
    display: inline;
}


div {
    /*outline: 1px solid green; */
    width: 600px;
    height: 470px;
    overflow: auto;
}

.container {
    padding: 5px;
}

p {
    /*outline: 1px solid black;*/
    display: inline-block;
    color: #fff;
    font-size: 12px;

}

.rectangulo {
    width: 117px; 
    height: 4px; 
    background: #000;
    margin-top: 10px;
}

.img {
    /*outline: 1px solid blueviolet; */
    width: 150px;
    height: 150px;
    float: left;
    margin: 10px;

}

img {
    /*outline: 1px solid palevioletred; */
    display: block; 
    width: 150px;
    height: 150px;
}

#melisa {
    position: relative;
    top: 165px;
    left: 75px; 
}

#lorena {
    position: relative;
    top: 165px;
    left: 170px;
}

#eva {
    position: relative;
    top: 165px;
    left: 280px;
}

#jenny {
    position: relative;
    top: 335px;
    right: 125px;
}

#cyntia {
    position: relative;
    top: 335px;
    right: 45px;
    
}

#claudia {
    position: relative;
    top: 335px;
    left: 40px;
}


